@model JlueTaxSystemXiaMenBS.Models.DZBS_SBCX

<html>
<head>

<title>申报查询</title>

<link rel="stylesheet" href="/wssb/wssb/public/style/link.css" type="text/css">
<SCRIPT language="JAVASCRIPT" src="/wssb/wssb/public/js/commonNew.js"></SCRIPT>
<script language=javascript src="/wssb/wssb/public/js/wssbCommon.js"></script>
<script language="javascript" >
	  var objTBY = null;		   //当前焦点所在的位置处的tbody对象
	  var objTBL = null;		   //当前焦点所在的位置处的table对象
	  var nRowNo = -1;           //标记焦点在所处table中的行号
	  var nTbyRowNo = -1;		   //标记焦点在所处tbody中的行号
	  var nCellNo = -1;          //标记焦点在所处table中的列号
	
	  //1125 added
	  function disKkxx() {
	    if(sbcxTby.rows.length < 2){
	      document.kkxx_form.YZPZXH.value = iYZPZXH.value;
	    }else{
	      document.kkxx_form.YZPZXH.value = iYZPZXH[nTbyRowNo].value;
	    }
	    document.kkxx_form.TABLE_ACTION.value = "display";
	    document.kkxx_form.action="/wssb/MainServlet";
	    document.kkxx_form.submit();
	    return true;
	  }
	  function iFormatJeValue(obj){
	    obj.value = formatNumberType(obj.value,0,2);
	    formatCurrency(obj);
	  }
	  function formatJeValue(len){
	      var XSE=document.getElementById("XSE");
		  if(typeof(XSE)!="object" || typeof(XSE)=="undefined")
		  {
		    if(len < 1) return;
		    if(len < 2){
		      iFormatJeValue(XSE);
		      iFormatJeValue(YNSE);
		      iFormatJeValue(JMSE);
		      iFormatJeValue(YJSE);
		      iFormatJeValue(YBTSE);
		    }else{
		      for(var i=0;i<len;i++){
		        iFormatJeValue(XSE[i]);
		        iFormatJeValue(YNSE[i]);
		        iFormatJeValue(JMSE[i]);
		        iFormatJeValue(YJSE[i]);
		        iFormatJeValue(YBTSE[i]);
		      }
		    }
		  }
	  }
</script>
</head>
<body marginwidth="0" marginheight="0" leftmargin=0  topmargin="0" onload="formatJeValue(1);">
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <!--菜单列-->
    <!--<td width="161" height="100%"></td>-->
    <!--内容列-->
    <td valign="top" align=center height="100%">
      <br><br><br>
      <table width="1024" border="0" align="center" cellpadding="0" cellspacing="0" class="SBB">
        <tr>
	  <td align="center">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#4E9492" valign="top">
              <tr>
                <td width="400" class="title">申报查询结果</td>
              </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
              <tr>
        	<td width="100%" align="center" bgcolor="#FFFFFF">
        	  <table id="sbxxTbl" border="0" width="96%" align="center" cellspacing="0" cellpadding="0">
                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr>
                      <td width="50%">@Model.Nsrxx.NSRSBH</td>
                      <td align="right">@Model.Nsrxx.NSRMC
                    </tr>
                    
                    <tr>
                      <td colspan="2">
                        <table border="1" width="100%" align="center" cellspacing="0" cellpadding="0" bordercolor='#C4C6C4'  bordercolordark='#ffffff' borderColorLight=#999999 >
                          <tr class="HEAD">
                            
	                            <td align="center" width="15%">所属时期</td>
	                            <td align="center" width="14%">应征凭证序号</td>
	                            <td align="center" width="22%">申报表</td>
	                            <td align="center" width="10%">销售额</td>
	                            <td align="center" width="10%">应纳税额</td>
	                            <td align="center" width="7%">减免税额</td>
	                            <!-- <td align="center" width="7%">预缴税额</td> -->
	                            <td align="center" width="8%">应补退税额</td>
                            
                          </tr>
                          <tbody id="sbcxTby" onKeyDown="doOnKeyDown();">
                          
	                              <tr>
		                              <td align="center">@Model.GDTXDate.skssqq 至 @Model.GDTXDate.skssqz</td>
		                              <td align="center"></td>
		                              <td align="center">
		                              
		                              <A href="/wssb/pdfservlet?TABLE_NAME=SBB_ZZS_YGZ_YBNSR_2016_SBCX&TABLE_ACTION=query&NSRSBH=91350200MA2Y10EC4K&SSSQ_Q=2019-01-01&SSSQ_Z=2019-01-31&YZPZXH=0A0B0F4DEB3C7F930491B0E35B6F1112&PZZL_DM=BDA0610606&PZXH=10013519000004045006">《增值税纳税申报表（一般纳税人适用）》</A>
		                              
		                              </td>
		                              <td align="center"><input class="input_cxnum_readonly" type="text" name="XSE" id="XSE" value="@Model.XSE" readonly/></td>
		                              <td align="center"><input class="input_cxnum_readonly" type="text" name="YNSE" id="YNSE" value="@Model.YNSE" readonly /></td>
		                              <td align="center"><input class="input_cxnum_readonly" type="text" name="JMSE" id="JMSE" value="0.00" readonly/></td>
		                              <!-- <td align="center"><input class="input_cxnum_readonly" type="text" name="YJSE" id="YJSE" value="0.00" readonly/></td>  -->
		                              <td align="center"><input class="input_cxnum_readonly" type="text" name="YBTSE" id="YBTSE" value="@Model.YBTSE" readonly /></td>
		                              <!--<td align="center"><A href="javascript:fbmxDisplay()" onFocus="getObjPoint(this);">null</td>-->
		                              <input type="hidden" name="YZPZXH" value="10013519000004045006">
	                              </tr>
	                         
	                         
                          </tbody>
                        </table>
                      </td>
                    </tr>
                     
                  </table>
                  <form name="kkxx_form" method="POST">
                    <input type=hidden value="91350200MA2Y10EC4K" name="NSRSBH">
                    <input type=hidden value="display" name="TABLE_ACTION">
                    <input type=hidden value="" name="YZPZXH">
                    <input type=hidden value="DZBS_KKCX" name="TABLE_NAME">
                  </form>
                  <table border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                      <td align="center">
                        <div align="center" class="mypop"><br>
                     	  <a href="javascript:history.back()" class="btnClas" style="background:url(/wssb/wssb/layout/images/bt.jpg);width:148px;height:25px;display:block;align:center;color:#FFF;line-height:25px;">
		                  	返&nbsp;&nbsp;回
		                  </a>&nbsp;
                   	</div><br>
                      </td>
                    </tr>
                  </table><br>
         	</td>
              </tr>
            </table>
            </td>
          </tr>
	</table>
      </td>
  </tr>
</table>
</body>
</html>
